name: "Running Tests"

on:
  push:
    branches: [ main ]
  pull_request

env:
  RACK_ENV: test

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        # Due to https://github.com/actions/runner/issues/849, we have to use quotes for '3.0'
        ruby: ['3.0', '3.1', '3.2', '3.3', 'head']
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically

      - run: bundle install

      - name: Running tests
        run: bundle exec rake test
